html {
    position: relative;
    min-height: 100%;
}

body {
	background: url("../images/concrete_seamless.png");
    margin: 0 0 100px; 
}

form {
  margin-bottom: 15px;
}

footer {
	  padding-top: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

h1 {
    color: #4aaaa5;
    font-size: 36px;
    font-weight: bold;
    margin: 15px;
    border-bottom: 3px solid #ddd;
}

h2 {
    color: white;
    font-size: 28px;
}

h3 {
    color: #4aaaa5;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 3px solid #ddd;
    text-align: center;
}

h4 {
    font-size: 24px;
}

img {
    width: 100%;
    height: auto;
}

.col-md-6 {
  margin-bottom: 15px;
}

.bg-4 { 
background-color: #666;
color: white;
  }

  .whitebg {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    background: white;

  }

  .wrapper {
    background: white;
    border: 1px solid #ddd;
    margin-bottom: 15px;
  }

  .navbar {
    background: white;
    border-bottom: 3px solid #ddd;
  }

  .navbar-brand {
    background: #4aaaa5;
  }

.work {
  position: relative;
}

.work2 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.container-fluid {
  border-top: 5px solid #4aaaa5;
}

.panel-body {
  border: 1px solid #ddd;
}

.img-thumbnail {
  position: relative;
  float: left;
  width: 100%;
  max-width: 150px;
  height: auto;

}

.page-header {
  border-bottom: 0px;
}

/*Phone View*/
@media only screen and (max-width: 680px) {

  .img-thumbnail {
  width: 100%;
  max-width: 75px;
  height: auto;
  margin: 10px;
}

}
